<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f09482">  <td>19/12/24 07:12:58</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.beforeclass()[pri:0, instance:Tests.LoginTest@383bfa16]">&gt;&gt;beforeclass</td> 
<td>&nbsp;</td>  <td>main@760357227</td>   <td></td> </tr>
<tr bgcolor="f09482">  <td>19/12/24 07:13:16</td>   <td>18317</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.logintest1()[pri:1, instance:Tests.LoginTest@383bfa16]">logintest1</td> 
  <td>main@760357227</td>   <td></td> </tr>
<tr bgcolor="f09482">  <td>19/12/24 07:13:20</td>   <td>22138</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.afterclass()[pri:0, instance:Tests.LoginTest@383bfa16]">&lt;&lt;afterclass</td> 
<td>&nbsp;</td>  <td>main@760357227</td>   <td></td> </tr>
<tr bgcolor="f09482">  <td>19/12/24 07:13:21</td>   <td>23025</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.beforeclass()[pri:0, instance:Tests.LoginTest@383bfa16]">&gt;&gt;beforeclass</td> 
<td>&nbsp;</td>  <td>main@760357227</td>   <td></td> </tr>
<tr bgcolor="f09482">  <td>19/12/24 07:13:35</td>   <td>37364</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.logintest2()[pri:2, instance:Tests.LoginTest@383bfa16]">logintest2</td> 
  <td>main@760357227</td>   <td></td> </tr>
<tr bgcolor="f09482">  <td>19/12/24 07:13:38</td>   <td>39734</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.afterclass()[pri:0, instance:Tests.LoginTest@383bfa16]">&lt;&lt;afterclass</td> 
<td>&nbsp;</td>  <td>main@760357227</td>   <td></td> </tr>
<tr bgcolor="f09482">  <td>19/12/24 07:13:38</td>   <td>40541</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.beforeclass()[pri:0, instance:Tests.LoginTest@383bfa16]">&gt;&gt;beforeclass</td> 
<td>&nbsp;</td>  <td>main@760357227</td>   <td></td> </tr>
<tr bgcolor="f09482">  <td>19/12/24 07:13:53</td>   <td>54636</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.logintest3()[pri:3, instance:Tests.LoginTest@383bfa16]">logintest3</td> 
  <td>main@760357227</td>   <td></td> </tr>
<tr bgcolor="f09482">  <td>19/12/24 07:13:55</td>   <td>57482</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.afterclass()[pri:0, instance:Tests.LoginTest@383bfa16]">&lt;&lt;afterclass</td> 
<td>&nbsp;</td>  <td>main@760357227</td>   <td></td> </tr>
<tr bgcolor="f09482">  <td>19/12/24 07:13:57</td>   <td>58625</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.beforeclass()[pri:0, instance:Tests.LoginTest@383bfa16]">&gt;&gt;beforeclass</td> 
<td>&nbsp;</td>  <td>main@760357227</td>   <td></td> </tr>
<tr bgcolor="f09482">  <td>19/12/24 07:14:12</td>   <td>73835</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.logintest4()[pri:4, instance:Tests.LoginTest@383bfa16]">logintest4</td> 
  <td>main@760357227</td>   <td></td> </tr>
<tr bgcolor="f09482">  <td>19/12/24 07:14:15</td>   <td>77564</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.afterclass()[pri:0, instance:Tests.LoginTest@383bfa16]">&lt;&lt;afterclass</td> 
<td>&nbsp;</td>  <td>main@760357227</td>   <td></td> </tr>
</table>
